<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="StaticFiles" stopProcessing="true">
          <match url="^_next/static/(.*)$"/>
          <action type="Rewrite" url=".next/static/{R:1}"/>
        </rule>
        <rule name="AllRequests">
          <match url=".*"/>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
    <iisnode
      nodeProcessCommandLine="node"
      interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;"
      watchedFiles="web.config;*.js"
      loggingEnabled="true"
      logDirectory="iisnode"
    />
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
        <requestLimits maxAllowedContentLength="20971520"/>
      </requestFiltering>
    </security>
    <httpErrors existingResponse="PassThrough"/>
  </system.webServer>
</configuration>
